* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	background: black;
	color: lime;
}

/* This is so that the html and body elements will stay within the viewport. */
html {
	height: 100%;
	width: 100%;
}
body {
	min-height: 100%;
	width: 100%;
}

canvas {
	background: rgb(75, 75, 75);
}

.page-title {
	text-align: center;
}